* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f3f1f5;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
